.ale-list-item h5 {
    margin-bottom:var(--size-spacing-xxs)
}

.ale-list-item h5 > span {
    margin-right: var(--size-spacing-xs);
    vertical-align:middle
}

.ale-list-item .notificationIcon {
    font-size: .9rem;
    border-radius: 50%;
    padding: var(--size-spacing-xs);
    background:#f2f2f2
}
.ale-list-item {
    margin:0
}